DotNet/Albumit/bin/Debug/net5.0/
DotNet/Albumit/.vscode/
DotNet/Albumit/obj/
DotNet/Albumit/obj/Debug/net5.0/
DotNet/Autot/.vs/
DotNet/Autot/Autot/obj/
DotNet/HelloWorld/bin/
DotNet/HelloWorld/obj/

DotNet/TiedostonLuku/obj/
DotNet/HelloWorld/.vscode/
DotNet/HelloWorldDemo2/.vs/
DotNet/HelloWorldDemo2/HelloWorldDemo2/bin/
DotNet/HelloWorldDemo2/HelloWorldDemo2/obj/
DotNet/HelloWorldDemo2/VisualBasicKirjasto/bin/
DotNet/HelloWorldDemo2/VisualBasicKirjasto/obj/

DotNet/Henkilöt/bin/
DotNet/Henkilöt/obj/
DotNet/TiedostonLuku/bin/
DotNet/PalkanlaskentaXml/bin/
DotNet/PalkanlaskentaXml/obj/
